# Prerequisites
*.d
[Bb]uild/
[Bb]uild*/
3rd/wolfssl/
3rd/protobuf3/*/*
3rd/protobuf3/*/*
tmp/
*.autosave
*.autosave*
*.log
.vscode/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

.cache/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeLists.txt.*
